# API
API_HOST=127.0.0.1
API_PORT=3333
API_LOG_LEVEL=info
NODE_ENV=development
DATABASE_URL=postgresql://yppon:yppon@127.0.0.1:5432/yppon_portal

# Local PostgreSQL container
POSTGRES_DB=yppon_portal
POSTGRES_USER=yppon
POSTGRES_PASSWORD=yppon
POSTGRES_PORT=5432
